.fa.fa-plane {
    color: #ea6111;
    &:hover{
        color: #eae311;
    }
}

body {
    margin: 0;
}

#main {
    margin: 8px;
}

.scroll-down {
    opacity: 1;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    &:before {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid white;
        border-width: 0px 0 2px 2px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 1024px) {
    .landing-video {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {

    #landing-page {
        height: 100vh;
        width: 100%;
        position: relative;
        overflow-y: hidden;
    }

    .landing-video {
        width: 100%;
    }

    .bottom-left-corner {
        position: absolute;
        text-align: left;
        left: 80px;
        bottom: 80px;
    }
}
