// The rotating sun in the logo
.fa.fa-plane {
    color: #ea6111;
    &:hover{
        color: #eae311;
    }
}

body {
    margin: 0;
}

#main {
    margin: 8px;
}

#landing-page {
    height: 100vh;
    width: 100%;
    position: relative;
}

.landing-video {
    width: 100%;
}

.bottom-left-corner {
    position: absolute;
    text-align: left;
    left: 80px;
    bottom: 80px;
}
