---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>

<a href="{{site.baseurl}}/">
    <h1 class="header-title">{{site.title}}
        <i class="fa fa-plane" aria-hidden="true"></i>
    </h1>
</a>

<h2 class="header-tagline">food, places and thoughts</h2>

</header>
<div id="main">

<div class="page-container">
   {% if page.img %}
    <img class="featured-img" src={{ "/images-hq/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}" onerror="this.style.display='none'">
    {% endif %}
    <div class="content">
    <article>
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.date %}
        <div class="meta"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%B %-d, %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        {% endif %}
        <br>
        {{page.content | markdownify}}
    </article>
            {% if page.categories %}
                {% include disqus.html %}
            {% else %}
            {% endif %}
    </div>
</div>

{% include footer.html %}

</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% include analytics.html %}
</body>
</html>
